[submodule "MiniShell"]
	path = MiniShell
	url = https://github.com/luuismrtn/MiniShell.git
[submodule "Cub3D"]
	path = Cub3D
	url = https://github.com/luuismrtn/Cub3D.git
[submodule "webserv"]
	path = webserv
	url = https://github.com/luuismrtn/webserv.git
[submodule "ft_transcendence"]
	path = ft_transcendence
	url = https://github.com/T-D-A-H/ft_transcendencer.git
